/.vs
/AOPDemo/bin
/AOPDemo/obj
/MEAI/bin
/MEAI/obj
/AIAgentWebApi/.vs
/AIAgentWebApi/MyAIAgentWebApi/.vs
/AIAgentWebApi/MyAIAgentWebApi/bin
/AIAgentWebApi/MyAIAgentWebApi/obj
/CancelTokenDemo/bin
/CancelTokenDemo/obj
/ConsoleApp1/bin
/ConsoleApp1/obj
/MiddlewareApp/bin
/MiddlewareApp/obj
/MiddlewareApp1/bin
/MiddlewareApp1/obj
/MinIO.Lesson/bin
/MinIO.Lesson/obj
/MinIoDemo/bin
/MinIoDemo/obj
/Optano.Modeling.Demo/bin
/Optano.Modeling.Demo/obj
/ServerDemo/bin
/ServerDemo/obj
/WebApiClientDemo/bin
/WebApiClientDemo/obj
/WebApplication1/bin
/WebApplication1/obj
/AOPDemo/run
/MinIoDemo/output
/WPFDemo/.vs
/WPFDemo/Run
/MiddlewareApp1/wwwroot
/WPFDemo/LearnApp.Contracts/bin
/WPFDemo/LearnApp.Contracts/obj
/WPFDemo/LearnApp.Control/bin
/WPFDemo/LearnApp.Control/obj
/WPFDemo/LearnApp.Shared/bin
/WPFDemo/LearnApp.Shared/obj
/WPFDemo/LearnApp.ViewModel/bin
/WPFDemo/LearnApp.ViewModel/obj
/WPFDemo/LearnApp.Win/bin
/WPFDemo/LearnApp.Win/obj
/WPFDemo/LearningApp.Utils/bin
/WPFDemo/LearningApp.Utils/obj
/MinIoDemo/.vs
/YamlDotNetDemo/bin
/YamlDotNetDemo/obj
/OR.Demo/bin
/OR.Demo/obj
